@font-face{
	font-family: 'f';
	src: url('../css/a.ttf');
}

html, body {
	height: 100%;
}
body {
	background: url(../img/1.png) no-repeat center center;
	background-size: cover;
	font-family: f;
	color: #fff;
}

img {
	width: 100px;
}